*{
margin:0px; s
padding:0px;
}
h1{

font:bold 20px Tahoma;
}
h2{
font:bold 14px Tahoma;
}

h3{
font:bold 40px Tahoma;
}

header, section, footer, aside, nav, article, hgroup
{
display:block;
}

body{

text-align:center;
}

#cz_glowna
{    
	text-align:center;
	width:1500px;
	height: auto;
	background-color: white;
	color:black;
	margin:20px auto;
	font:bold 20px Tahoma;
}

#top_header
{
background:green;
border:3px solid black;
padding:20px;
font-size:48px;
text-align:center;
}

#top_men
{
background:gray;
color:black;
padding:20px;
text-align:center;
border:3px solid black;
border-style: ridge ;
}


#top_men li
{
display:inline-block;
list-style:none;
padding:20px;
font:bold 28px Tahoma;
}

#main_section
{
	width:auto;
	height:auto;
	background-color:white;
	color:black;
	font-size:40px;
	border:3px solid black;

}



#side_news
{
float:center;
width:auto;
padding:30px;
background:green;
border:3px solid black;
}

#side_news1
{
float:center;
width:auto;
padding:30px;
background:white;
}

#side_news2
{
float:center;
width:auto;
height:200px;
padding:30px;
background:green;
border:3px solid black;
}

#side_news3
{
float:center;
width:auto;
height:200px;
padding:30px;
background:white;
}

#side_news4
{
float:center;
width:auto;
height:300px;
padding:30px;
background:white;
}

#side_news5
{
float:center;
width:auto;
height:250px;
padding:30px;
background:green;
}

#side_news5
{
float:center;
width:auto;
height:300px;
padding:30px;
background:green;
}

#stopka
{
clear:both;
text-align:center;
padding:20px;
}

#daniszyn
{
	float: center;
}
#mahle{
	float: left;
}	
	
#modertrans{
	
	float: left;
}	

#cargo{
	
	float: left;
}	
#szafa{
	
	float: left;
}	

#znicz{
	
	float: left;
}	

#odbierak{
	
	float: left;
}	
#wim{
	
	float: left;
}

#arie{
	float: left;
}

#zst{
	float: left;
}	

#ender{
	float: left;
}	

#gif{
	float: right;
}	

#gif2{
	float: left;
}

#puzzle{
	float: left;
}	

#strand{
	float: center;
}	

#tooth{
	float: right;
}	

#factory{
	float: right;
}	

#f{
	float: left;
}	

#gmail{
	float: left;
}
	
#in{
	float: left;
}	


